
#signin{
	border:1px solid #6c6d69;
	padding:20px 30px;
	margin: 10px;
	box-shadow: 2px 2px 3px;

}

#signin .title{
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 0px;
	padding-left: 0px;
}

#signin form input[type="email"],
#signin form input[type="password"]{
	display:block;

	padding:10px;
	margin:15px 0px;
	width:180px;
	border:0px;
	border-bottom: 1.2px solid #32baec;
	border-left: 1.2px solid #32baec;
	font-size: 0.8em;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}

#signin form input[type="button"]{
	display:block;

	padding:10px;
	margin:15px 0px;
	width:200px;
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   font-size: 0.8em;
   border-radius: 5px;
   border:0px;
   background-color: #fd9727;
   color:white;
   text-align: center;



}

#signin form div{
	font-size: 0.7em;
	margin:10px;
}