
#welcomeTiles{
	margin:10px;
	height:500px;
	position:relative;
	color:#6c6d69;
	font-size: 4em;
	font-weight: bold;	
}

#welcomeTiles div{
	width:100%;
	height:100%;
	opacity: 0; 
	transition: opacity 1.0s; 
	position: absolute;
	top:0px;
	left: 0px;
}
#welcomeTiles div img{
	width:100%;
	height:100%;
	
}
#welcomeTiles div.active{
	width:100%;
	height:100%;
	opacity: 1;
}

#welcomeTiles div p{
	padding: 50px 70px;
}

#welcomeTiles div p.right{
float:right;
	}